.button-edit {
    cursor: pointer;
    vertical-align: bottom !important;
}

.button-edit:hover {
    background: rgba(0, 0, 0, 0.05);
}

.addPortfolioButton {
    background-color: transparent;
    border-radius: 10px;
    height: 40px;
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 40%);
    color: rgba(0, 0, 0, 50%);
    transition: 0.3s;
}

.addPortfolioButton:hover {
    background-color: rgba(0, 0, 0, 60%);
    border-radius: 10px;
    height: 40px;
    width: 75%;
    border: none;
    color: rgba(255, 255, 255);
}

.addButton {
    background-color: rgba(0, 0, 0, 20%);
    padding: 6px 10px 6px 10px;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}

.addButton:hover {
    background-color: rgba(0, 0, 0, 30%);
    border-radius: 15px;
}

.portfoliosRow {
    background-color: rgba(0, 0, 0, 10%);
    cursor: pointer;
    margin-top: 8px;
    height: 60px;
    border-radius: 10px;
    transition: 0.3s;
}

.portfoliosRow:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.portfoliosRowSelected {
    background-color: #0d6efd;
    cursor: default;
    margin-top: 8px;
    height: 60px;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
}

.test {
    overflow: hidden;
}