@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.wrapper {
    margin: 15px;

}

.headTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 0 solid rgba(0, 0, 0, 15%);
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.rowTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 0 solid rgba(0, 0, 0, 15%);
    border-bottom-width: 1px;
}

.columnTable {
    font-family: Roboto, serif;
    display: flex;
    justify-content: end;
    padding: 10px;
    font-size: 16px;
    width: 10%;
}

.columnTableCurrencyName {
    font-family: Roboto, serif;
    display: flex;
    padding: 10px;
    font-size: 16px;
}

.currency-name {
    font-family: Roboto, serif;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    min-width: 200px;
}

.chart-column {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 20%;
}

.favoriteTable {
    font-size: 16px;
    width: 5%;
}

.chart-wrapper {
    position: relative;
    width: 100%;
}

.text-success-light
{
    color: #069D00;
}

#gradient {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 35px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%);
}