.gradient {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #E2E2E2 8%, #ECECEC 38%, #F7F7F7 54%, #E2E2E2 );
    background-size: 1000px 640px;

    position: relative;

}

@keyframes placeHolderShimmer{
    0%{
        background-position: -500px 0
    }
    100%{
        background-position: 500px 0
    }
}

.headTableRecords {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 0 solid rgba(0, 0, 0, 15%);
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.rowTableRecords {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 0 solid rgba(0, 0, 0, 15%);
    border-bottom-width: 1px;
}

.columnTableHeadAsset {
    font-family: Roboto, serif;
    display: flex;
    justify-content: start;
    padding: 5px;
    font-size: 12px;
    height: 100%;
    cursor: pointer;
    align-items: center;
}

.columnTableAssetRecords {
    font-family: Roboto, serif;
    display: flex;
    justify-content: start;
    padding: 5px;
    font-size: 12px;
    height: 100%;
    align-items: center;
}

.columnTableHeadRecords {
    font-family: Roboto, serif;
    display: flex;
    justify-content: end;
    padding: 5px;
    font-size: 12px;
    width: 14%;
    height: 100%;
    cursor: pointer;
    align-items: center;
}

.columnTableRecords {
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    height: 100%;
    align-items: end;
}

.columnTableAsset {
    width: 20%;
}

.columnTableAmount {
    width: 15%;
}

.columnTablePrice {
    width: 20%;
}

.columnTableBuyPrice {
    width: 15%;
}

.columnTableTotal {
    width: 20%;
}

.columnTableHeadAsset:hover .arrow-down {
    visibility: visible;
}

.columnTableHeadRecords:hover .arrow-down {
    visibility: visible;
}

.columnButton {
    padding: 2px;
    width: 5%;
}