.columnTableHead {
    font-family: Roboto, serif;
    display: flex;
    justify-content: end;
    padding: 10px;
    font-size: 14px;
    width: 15%;
    cursor: pointer;
    align-items: center;
}

.columnTableHead {
    font-family: Roboto, serif;
    display: flex;
    justify-content: end;
    padding: 10px;
    font-size: 14px;
    width: 25%;
    cursor: pointer;
    align-items: center;
}